<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>任务设置</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/setting.css"/>
</head>
<body>
<div class="top">
    <input class="btn btn-default" type="button" value="返回" id="back">
    <input class="btn btn-default" type="button" value="保存" id="save">
    <h1 class="title">修改任务</h1>
</div>
<div class="contenter">
    <form>
        <div class="form-group">
            <label for="num">任务id：<%= num %></label>
            <input type="hidden" class="form-control" id="num" name="num" placeholder="任务序号" value="<%= num %>" >
        </div>
        <div class="form-group">
            <label for="title">任务标题：</label>
            <input class="form-control" type="text" id="title" value="<%= tit %>"/>
        </div>
        <div class="form-group">
            <label for="time">创建时间：<%= time%></label>
            <input type="hidden" class="form-control" id="time" name="time" placeholder="时间" value=" <%= time%>"  >
        </div>
        <!--selected="selected"-->
       <div class="form-group status">
        <label for="status">任务状态:</label>
           <input type="hidden" class="form-control" id="statdata"  value="<%= states%>"  >
           <!--<select id="status"  ><option  value="finish" >完成</option><option value="unfinish">未完成</option></select>-->
       </div>
        <div class="form-group">
            <label for="content">任务内容：</label>
            <textarea class="form-control" id="content" placeholder="请输入任务详细内容" rows="15" ><%= con%></textarea>
        </div>
    </form>
</div>
<script src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    var x;
    if($("#statdata").val()=="finish"){
     x= $('<select id="status"  ><option  value="finish"  selected="selected">完成</option><option value="unfinish">未完成</option></select>');
        x.appendTo($(".status"));
    }
    else if($("#statdata").val()=="unfinish"){
        x= $('<select id="status"  ><option  value="finish" >完成</option><option value="unfinish" selected="selected">未完成</option></select>');
        x.appendTo($(".status"));
    };
</script>
<script src="/js/update.js"></script>
<script type="text/javascript" src="/js/ejs.min.js"></script>

</body>
</html>